<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn_rbWNzAGj1WQxxcToL4dgWWoQuZ1po8</string>
	<key>GCM_SENDER_ID</key>
	<string>187682652489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.users.tStore</string>
	<key>PROJECT_ID</key>
	<string>t-store-3d785</string>
	<key>STORAGE_BUCKET</key>
	<string>t-store-3d785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187682652489:ios:9e406f347193b25aac1a98</string>
</dict>
</plist>